<link href="/styles/partials/home/CreatePost.css" rel="stylesheet" />

<form class="create-post-form">
    <textarea
        id="post-description"
        name="description"
        placeholder="Start writing from here..."
    ></textarea>
    <button onclick="handleFormSubmit(event)">Post</button>
</form>
