<link href="/styles/index.css" rel="stylesheet" />
<link href="/styles/partials/home/Post.css" rel="stylesheet" />

<section class="main-container">
    <div class="left-side-container"></div>
    <div class="centeral-container">
        <%- include("partials/home/CreatePost"); %>
        <div class="posts-container">
            <% posts.forEach((post) => { const date = new Date(post.timestamp);
            const now = new Date(); const diffInSeconds = Math.floor((now -
            date) / 1000); let timePassed; if (diffInSeconds < 60) { timePassed
            = `${diffInSeconds} seconds`; } else if (diffInSeconds < 3600) {
            const minutes = Math.floor(diffInSeconds / 60); timePassed =
            `${minutes} minutes`; } else if (diffInSeconds < 86400) { const
            hours = Math.floor(diffInSeconds / 3600); timePassed = `${hours}
            hours`; } else { const days = Math.floor(diffInSeconds / 86400);
            timePassed = `${days} days`; } %> <%- include('partials/home/Post',
            { postId: post._id, userId: post.user._id ,name: post.user.name,
            hasLiked: post.hasLiked, likesCount: post.likesCount, commentsCount:
            post.commentsCount, description: post.description, timePassed:
            timePassed, pictureUri: post.user.pictureUri }) %> <% }) %>
        </div>
    </div>
    <div class="right-container">
        <div class="coming-soon">
            <h1>Featured Products</h1>
        </div>
        <div class="products-container">
            <% featuredProducts.forEach((product) => { %>
                <%- include('products.ejs', { product }) %>
            <% }) %>
            <div><a href="/visited-products"><h1>Visited Products</h1></a></div>
        </div>
    </div>
</section>
<div class="modal-container"></div>
<script src="/scripts/partials/home/Post.js"></script>
<script src="/scripts/index.js"></script>
