<link href="/styles/partials/profile/EditModal.css" rel="stylesheet" />
<link href="/styles/profile.css" rel="stylesheet" />
<link href="/styles/partials/home/Post.css" rel="stylesheet" />

<div class="profile-main-container">
    <%- include('partials/profile/Cover', { currentUser: currentUser }) %> <%-
    include('partials/profile/Posts') %>

    <div class="profile-edit-container"></div>
</div>
<div class="modal-container"></div>
<script src="/scripts/partials/home/Post.js"></script>
<script src="/scripts/partials/profile/EditModal.js"></script>
<script src="/scripts/profile.js"></script>
