<link href="/styles/partials/profile/Posts.css" rel="stylesheet" />

<div class="posts-container">
    <% posts.forEach((post) => { const date = new Date(post.timestamp); const
    now = new Date(); const diffInSeconds = Math.floor((now - date) / 1000); let
    timePassed; if (diffInSeconds < 60) { timePassed = `${diffInSeconds}
    seconds`; } else if (diffInSeconds < 3600) { const minutes =
    Math.floor(diffInSeconds / 60); timePassed = `${minutes} minutes`; } else if
    (diffInSeconds < 86400) { const hours = Math.floor(diffInSeconds / 3600);
    timePassed = `${hours} hours`; } else { const days =
    Math.floor(diffInSeconds / 86400); timePassed = `${days} days`; } %> <%-
    include('../home/Post', { postId: post._id ,name: post.user.name, userId:
    post.user._id, hasLiked: post.hasLiked, likesCount: post.likesCount,
    commentsCount: post.commentsCount, description: post.description,
    timePassed: timePassed, pictureUri: post.user.pictureUri }) %> <% }) %>
</div>
