<link href="/styles/network.css" rel="stylesheet" />

<div class="network-container">
    <%- include('partials/network/Options') %> <%-
    include('partials/network/Data', { title: "Sent" }) %>
</div>

<script src="/scripts/network.js"></script>
