<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>I am home</h1>
        <ul>
            <li>
                <a href="/labtask1/index.html">CV</a>
            </li>
            <li>
                <a href="/labtask2/index.html">Landing Page</a>
            </li>
            <li>
                <a href="/labtask4/index.html">Crud</a>
            </li>
        </ul>
    </body>
</html>
