<link href="/styles/product.css" rel="stylesheet" />

<div class="products-container">
    <% visitedProducts.forEach((product) => { %>
        <%- include('products', { product }); %>
    <% }) %>
</div>