<form class="auth-form">
    <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required />
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required />
    </div>
    <button onclick="handleLogin(event)" type="button">Login</button>
    <p class="no-line">Don't Have an account? <a href="/signup">Sign Up</a></p>
</form>
