.profile-main-container {
    width: 73%;
    min-height: calc(100vh - 6rem);

    position: absolute;
    top: 6rem;
    right: 5px;
}

@media screen and (max-width: 768px) {
    .profile-main-container {
        width: 100%;
    }
}
